h1 {
  font-size: 4em;
  font-family: sans-serif;
  color: blue;
  text-align: left;
}

ul {
  font-size: 2em;
  line-height: 3em;
  text-align: left;
  color: blue;
}

img {
  border: 5px solid blue;
  float: left;
}
